<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <form action="submit" method="POST">{% csrf_token %}
        <div align="center">
            <H1>Login</H1>
            <label>Usuário:</label>
            <input type="text" name="username">
            <label>Password:</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </div>
    </form>
    {% for message in messages %}
        <div align="center">
            <BR><strong>Erro !!! </strong>{{ message }}
        </div>
    {% endfor %}
</body>
</html>